@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  display: none;
  /* For IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 14px;
}

p {
  @apply text-gray-500 text-xs font-medium
}

h2 {
  font-weight: 500;
}

h1{
  @apply text-xl font-medium text-gray-800
}